<h1 class='text-center mt-5'>Students</h1>

<div class="container mt-5">
  <div class="row">
    <% students.each do |student| %>
      <div class="col-sm-4">
        <div class="card mb-5">
          <div class="card-body">
            <h5 class="card-title"><%= student.first_name + ' ' + student.last_name %></h5>
            <p><%= student.email %></p>
            <p>Course Enrollments: </p>
            <hr class='divider'>
            <%= link_to 'View Profile', student_path(student), class: 'btn btn-primary' %>
            <%= link_to 'Link', '#', class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
