<nav>
  <div class="container">
    <div class="nav-wrapper">
      <li class="brand-logo"><%= link_to 'Root', root_path %></li>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'About', about_path %> </li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </div>
</nav>
